# Build results
[Dd]ebug/
[Rr]elease/
[Rr]elease\_*
x64/
x86/
[Oo]bj/
[Bb]in/
[Ll]og/

# User-specific files
*.user
*.suo
*.userprefs
*.vs/
.vscode/

# Visual Studio Code
.vscode/
.history/
*.code-workspace

# Rider
.idea/

# NuGet Packages
*.nupkg
*.snupkg
packages/

# Test Results
TestResults/
*.trx

# Publish results
publish/

# Visual Studio temporary files
*.tmp

# Rider specific files
.idea/
*.sln.iml

# ASP.NET Core secrets
secrets.json

# Azure Functions
local.settings.json

# Other
*.db
*.pdb
*.mdb
*.scc
